  {% load static %}
  
  <!-- JavaScript files-->
  <script src="{% static 'eco/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'eco/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'eco/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
  <script src="{% static 'eco/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'eco/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js' %}"></script>
  <script src="{% static 'eco/js/front.js' %}"></script>


